/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif; 
}

/* App container */
.app-container {
  display: flex;
  height: 100vh;
  align-items: center; /* Centers content vertically */
  justify-content: space-around; /* Centers content horizontally with space around */
  background-color: #F6EEE3; /* Purple background for the whole page */
}

.text-content h1 {
  font-size: 2em; /* Adjust size as necessary */
  font-weight: bold;
  color: black;
}

.text-content .details {
  font-size: 1.2em; /* Adjust size as necessary */
  font-style: italic;
  margin: 20px 0; /* Adjust space as necessary */
}

.text-content .contact-info {
  font-size: 1em; /* Adjust size as necessary */
  font-style: italic;
  margin: 20px 0; /* Adjust space as necessary */
  line-height: 1.5; /* Adjust line spacing as necessary */
}

.text-content .contact-info a {
  color: inherit; /* Ensures links are the same color as the text */
  text-decoration: none; /* Optional: removes underline from links */
}

.text-content .about {
  font-size: 1em; /* Adjust size as necessary */
  margin: 20px 0; /* Adjust space as necessary */
}


/* Chatbot styling */
.chatbot {
  width: 30vw; /* 30 and 100 works perfectly for this website for now. */
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10px; /* Rounded corners for the chatbot */
}
