/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif; 
}

/* App container */
.app-container {
  display: flex;
  height: 100vh;
  align-items: center; /* Centers content vertically */
  justify-content: space-around; /* Centers content horizontally with space around */
  background-color: #F6EEE3; /* Purple background for the whole page */
}

.app-container-1 {
  display: flex;
  flex-direction: column;  /* Aligns children vertically */
  align-items: center;     /* Centers content horizontally */
  justify-content: flex-start; /* Aligns content to the top */
  background-color: #F6EEE3;
  overflow-y: auto;        /* Enables vertical scrolling */
  height: 100vh;           /* Set the height to the full viewport height */
  padding: 20px;           /* Adds some padding around the content */
  box-sizing: border-box;  /* Ensures padding is included in the height calculation */
}

.text-content h1 {
  font-size: 2em; /* Adjust size as necessary */
  font-weight: bold;
  color: black;
}

.text-content .details {
  font-size: 1.2em; /* Adjust size as necessary */
  font-style: italic;
  margin: 20px 0; /* Adjust space as necessary */
  max-width: 50vw; 
}

.text-content .details-2 {
  font-size: 1.2em; /* Adjust size as necessary */
  margin: 20px 0; /* Adjust space as necessary */
  max-width: 50vw; 
}

.text-content h2 {
  font-size: 1.3em; /* Adjust size as necessary */
  font-weight: bold;
  color: black;
}

.text-content .contact-info {
  font-size: 1em; /* Adjust size as necessary */
  font-style: italic;
  margin: 20px 0; /* Adjust space as necessary */
  line-height: 1.5; /* Adjust line spacing as necessary */
}

.text-content .contact-info a {
  color: inherit; /* Ensures links are the same color as the text */
  text-decoration: none; /* Optional: removes underline from links */
}

.text-content .about {
  font-size: 1em; /* Adjust size as necessary */
  margin: 20px 0; /* Adjust space as necessary */
}


/* Chatbot styling */
.chatbot {
  width: 30vw; /* 30 and 100 works perfectly for this website for now. */
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10px; /* Rounded corners for the chatbot */
}
